html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  color: white;
  font-family: "Architects Daughter";
}

header {
  height: 100px;
  margin: 0 auto;
  background: -webkit-linear-gradient(left, white, black 120px);
  background: -moz-linear-gradient(left, white, black 120px);
  background: -o-linear-gradient(left, white, black 120px);
  background: -ms-linear-gradient(left, white, black 120px);
  background: linear-gradient(left, white, black 120px);
  color: white;
  overflow: hidden;
  box-shadow: 0 10px 10px -10px rgba(0,0,0,0.8)
}

header div {
  display: inline-block;
  float: left;
}

header .heading {
  font-size: 50px;
  font-family: "Fredericka the Great";
}

header .description {
  font-size: 20px;
  margin-top:70px;
  margin-left: -100px;
}

header a.github {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  padding: 2px 10px;
  background-color: white;
  color: black;
  border-radius: 5px;
}
header a:link { color: black; }
header a:visited { color: black; }
header a:hover { color: black; }
header a:active {color: black; }
header a:link { text-decoration:none; }
header a:visited { text-decoration:none; }
header a:hover { text-decoration:underline; }
header a:active { text-decoration:underline; }

#logo {
  width: 80px;
  height: 80px;
  margin: 10px 30px;
  background: url(../images/logo.gif);
  background-size: 80px 80px;
}

#blackboard {
  width:1000px;
  height:600px;
  background: url(../images/background.jpg);
  margin: 20px auto 0px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.8);
}

.topic {
  width: 230px;
  height: 160px;
  float: left;
  margin-top: 16px;
  margin-left: 16px;
  background: url(../images/topic.gif);
}

.topic .heading {
  text-align: center;
}

.topic .description {
  padding: 0 10px;
}

.sourcecode {
  display: none;
}

footer {
  background-color: black;
}